
<div class="hallBox">
    <div class="game_time"><p>15:00</p></div>
    <ul class="game_deskUl">
        <li><div class="game_seat">座位1</div></li>
        <li><div class="game_seat">座位2</div></li>
        <li><div class="game_seat">座位3</div></li>

        <li><div class="game_seat">座位4</div></li>
        <li><div class="game_desk">房间1</div></li>
        <li><div class="game_seat">座位5</div></li>

        <li><div class="game_seat">座位6</div></li>
        <li><div class="game_seat">座位7</div></li>
        <li><div class="game_seat">座位8</div></li>
    </ul>
    <div class="game_mask {{ '' if hasStart else 'dn' }}">游戏已开始...</div>
</div>
<p class="panelTit" title="{{list.name}}">xxx</p>