    <div class="albumBox slide">
        <ul class="albumUl">
            <li data-url="http://www.baidu.com">
                <p><img src='../static/images/cache/test.jpg' width="100%" /></p>
            </li>
            <li data-url="http://news.qq.com">
                <p><img src='../static/images/cache/test.jpg' width="100%" /></p>
            </li>
            <li data-url="http://www.taobao.com">
                <p><img src='../static/images/cache/test.jpg' width="100%" /></p>
            </li>
        </ul>
    </div>
