<div class="temp_screenTerm">
    <div class="searchSlideBox">
        <div class="searchPanelBox">
            <p class="searchTit">按地区：</p>
            <ul class="searchUl commonUl">
                <li>华语</li>
                <li>美国</li>
                <li>欧洲</li>
                <li>韩国</li>
                <li>日本</li>
                <li>其他</li>
            </ul>
        </div>
        <div class="searchPanelBox">
            <p class="searchTit">按类型：</p>
            <ul class="searchUl commonUl">
                <li>喜剧</li>
                <li>爱情</li>
                <li>动作</li>
                <li>惊悚</li>
            </ul>
        </div>
        <div class="searchPanelBox">
            <p class="searchTit">按年份：</p>
            <ul class="searchUl commonUl">
                <li>2017</li>
                <li>2016</li>
                <li>2005~2015</li>
                <li>更早</li>
            </ul>
        </div>
        <div class="searchPanelBox">
            <p class="searchTit">按点击：</p>
            <ul class="searchUl commonUl">
                <li>最多播放</li>
                <li>好评榜</li>
            </ul>
        </div>
    </div>
    <!--<p class="searchMore">收起<i></i></p>-->
</div>