<ul class="panelUl videoResultUl oneColumn">
    <li>
        <div class="panelBox " uid="" type="">
            <div class="panelImg">
                <img title=""  alt="" src="../static/images/video/p1.jpg" />
                <p class="totalTime">02:45:30</p>
            </div>
            <div class="panelInfo">
                <div class="infoBox">
                    <p class="panelTit" title="">刺客信条北美周票房</p>
                    <div class="info">发布时间：2015-08-12</div>
                    <div class="info">类型：喜剧 动作 冒险冒险冒险冒险冒险冒险冒险</div>
                    <div class="info">上传作者：搞搞搞2017</div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="panelBox " uid="" type="">
            <div class="panelImg">
                <img title=""  alt="" src="../static/images/video/p1.jpg" />
                <p class="totalTime">02:45:30</p>
            </div>
            <div class="panelInfo">
                <div class="infoBox">
                    <p class="panelTit" title="">刺客信条北美周票房冠军榜全视频刺客信条北美周票房冠军榜全视频刺客信条北美周票房冠军榜全视频</p>
                    <div class="info">发布时间：2015-08-12</div>
                    <div class="info">类型：喜剧 动作 冒险</div>
                </div>
            </div>
        </div>
    </li>
</ul>