<ul class="panelUl filmResultUl oneColumn">
    <li>
        <div class="panelBox " uid="" type="">
            <div class="panelImg">
                <img title=""  alt="" src="../static/images/film/cikexintiao/p1.jpg" />
                <p class="totalTime">02:45:30</p>
                <p class="tips pay">付费</p>
            </div>
            <div class="panelInfo">
                <div class="infoBox">
                    <p class="panelTit" title="">刺客信条</p>
                    <div class="info">导演：马修·沃恩</div>
                    <div class="info">主演：马修·沃恩</div>
                    <div class="info">类型：喜剧 动作 冒险</div>
                    <div class="info lastTime">上次播放至0分26秒</div>
                </div>
                <div class="playBox">
                    <p class="source"><span>播放源</span><i></i></p>
                    <div class="playBtn"><p class="p1"><i></i><span>立即观看</span></p><p class="p2"><span>查看影评</span></p></div>
                </div>
            </div>
            <p class="panelSort">4.9</p>
        </div>
    </li>
    <li>
        <div class="panelBox " uid="" type="">
            <div class="panelImg">
                <img title=""  alt="" src="../static/images/film/cikexintiao/p1.jpg" />
                <p class="totalTime">02:45:30</p>
                <p class="tips vip">VIP</p>
            </div>
            <div class="panelInfo">
                <div class="infoBox">
                    <p class="panelTit" title="">刺客信条</p>
                    <div class="info">导演：马修·沃恩</div>
                    <div class="info">主演：马修·沃恩马修·沃恩马修·沃恩马修·沃恩马修·沃恩马修·沃恩</div>
                    <div class="info">上映时间：2015</div>
                </div>
                <div class="playBox">
                    <p class="source"><span>播放源</span><i></i></p>
                    <div class="playBtn"><p class="p1"><i></i><span>立即观看</span></p></div>
                </div>
            </div>
            <p class="panelSort">4.9</p>
        </div>
    </li>
    <li>
        <div class="panelBox " uid="" type="">
            <div class="panelImg">
                <img title=""  alt="" src="../static/images/film/cikexintiao/p1.jpg" />
                <p class="totalTime">02:45:30</p>
                <p class="tips p1080">1080P</p>
            </div>
            <div class="panelInfo">
                <div class="infoBox">
                    <p class="panelTit" title="">刺客信条</p>
                    <div class="info">导演：马修·沃恩</div>
                    <div class="info">主演：马修·沃恩</div>
                    <div class="info">类型：喜剧 动作 冒险</div>
                </div>
                <div class="playBox">
                    <p class="source"><span>播放源</span><i></i></p>
                    <div class="playBtn"><p class="p1"><i></i><span>立即观看</span></p></div>
                </div>
            </div>
            <p class="panelSort">4.9</p>
        </div>
    </li>
    <li>
        <div class="panelBox " uid="" type="">
            <div class="panelImg">
                <img title=""  alt="" src="../static/images/film/cikexintiao/p1.jpg" />
                <p class="totalTime">02:45:30</p>
                <p class="tips p720">720P</p>
            </div>
            <div class="panelInfo">
                <div class="infoBox">
                    <p class="panelTit" title="">刺客信条</p>
                    <div class="info">导演：马修·沃恩</div>
                    <div class="info">主演：马修·沃恩</div>
                    <div class="info">类型：喜剧 动作 冒险</div>
                </div>
                <div class="playBox">
                    <p class="source"><span>播放源</span><i></i></p>
                    <div class="playBtn"><p class="p1"><i></i><span>立即观看</span></p></div>
                </div>
            </div>
            <p class="panelSort">4.9</p>
        </div>
    </li>
</ul>