<% include ../layout/header %>
<div class="tabs read_tabs">
    <div class="tabs_tit">
        <div class="tit"><p>今日晨读</p></div>
        <div class="tit active"><p class="bl_b2">全部晨读</p></div>
    </div>
    <div id="tabs_panel_0" class="tabs_panel read_panel hide">
            <div class="tabs_tips">
                    <div class="panle_tips"><div class="txt">当前日期您没有晨读作业哦</div><div class="img"><img src="http://qitian-ui.b0.upaiyun.com/wxApp/webviews/images/cartoon/glasses.png"></div></div>
                </div>
            
    </div>
    <div id="tabs_panel_1" class="tabs_panel read_panel">
         <p class="tips_txt tc dateshow">点击选择上课日期搜索</p><!--点击选择晨读日期搜索-->
            <div class="read_box">
                        <div class="read_cache" lessonid="1356"><div class="numTips">语</div><div class="read_row"><div class="tit"><p>2016-09-12 星期五 晨读</p></div><div class="con"><p>课次：</p><div>小六语文暑期课第二节啊（测试）</div></div><div class="stage"><p>状态：</p><div class="todo">待提交</div><a href="javascript:void(null)" class="takeview btn bth_sm btn_23a btn_nobd">查看</a></div></div></div><div class="read_cache finish" lessonid="652"><div class="numTips">语</div><div class="read_row"><div class="tit"><p>2016-06-30 星期五 晨读</p></div><div class="con"><p>课次：</p><div>小六语文暑期课第三节（测试）</div></div><div class="stage"><p>状态：</p><div class="todo">已完成</div><a href="javascript:void(null)" class="takeview btn bth_sm btn_23a btn_nobd">查看</a></div></div></div><div class="read_cache finish" lessonid="653"><div class="numTips">语</div><div class="read_row"><div class="tit"><p>2016-06-30 星期五 晨读</p></div><div class="con"><p>课次：</p><div>小六语文暑期课第一节（测试）</div></div><div class="stage"><p>状态：</p><div class="todo">已完成</div><a href="javascript:void(null)" class="takeview btn bth_sm btn_23a btn_nobd">查看</a></div></div></div><div class="read_cache finish" lessonid="162"><div class="numTips">语</div><div class="read_row"><div class="tit"><p>2016-06-23 星期五 晨读</p></div><div class="con"><p>课次：</p><div>小六语文暑期课第一节（测试）</div></div><div class="stage"><p>状态：</p><div class="todo">已完成</div><a href="javascript:void(null)" class="takeview btn bth_sm btn_23a btn_nobd">查看</a></div></div></div><div class="read_cache finish" lessonid="160"><div class="numTips">语</div><div class="read_row"><div class="tit"><p>2016-06-21 星期五 晨读</p></div><div class="con"><p>课次：</p><div>小六语文暑期课第二节啊（测试）</div></div><div class="stage"><p>状态：</p><div class="todo">已完成</div><a href="javascript:void(null)" class="takeview btn bth_sm btn_23a btn_nobd">查看</a></div></div></div>
                    </div>
            
    <div class="loadmore loadtxt ub_f1">查看更多<span>&gt;&gt;</span></div></div>
</div>
<% include ../layout/footer %>