{% include "./layout/header.html" %}
<link rel="stylesheet" type="text/css" href="../static/css/search.css">
<div id="main" class="main">
    <div class="wraper">
        <div class="searchPanel">
            <div class="titleBox">
                <p class="tit_txt">搜索记录</p>
                <p class="tit_icon"><i></i></p>
            </div>
            <ul class="search_historyUl">
                <li>极限挑战</li>
                <li>人间至味是清欢</li>
                <li>醉玲珑</li>
                <li>人间至味是清欢</li>
                <li>极限挑战</li>
                <li>醉玲珑</li>
            </ul>
        </div>
        <div class="searchPanel">
            <div class="titleBox">
                <p class="tit_txt">热闹搜索</p>
                <p class="tit_icon tit_more"><span>更多热搜</span><i></i></p>
            </div>
            <ul class="search_hotUl">
                <li class="first upper"><div class="search_hotBox"><p class="p1">1</p><p class="p2">熊出没</p><p class="p3"><i></i></p></div></li>
                <li class="second upper"><div class="search_hotBox"><p class="p1">2</p><p class="p2">美味奇缘</p><p class="p3"><i></i></p></div></li>
                <li class="third upper"><div class="search_hotBox"><p class="p1">3</p><p class="p2">醉玲珑</p><p class="p3"><i></i></p></div></li>
                <li class="down"><div class="search_hotBox"><p class="p1">4</p><p class="p2">极限挑战</p><p class="p3"><i></i></p></div></li>
                <li class="upper"><div class="search_hotBox"><p class="p1">5</p><p class="p2">何所冬暖何所凉</p><p class="p3"><i></i></p></div></li>
                <li class="down"><div class="search_hotBox"><p class="p1">6</p><p class="p2">平凡岁月</p><p class="p3"><i></i></p></div></li>
                <li class="down"><div class="search_hotBox"><p class="p1">7</p><p class="p2">人间至味是清欢</p><p class="p3"><i></i></p></div></li>
                <li class="down"><div class="search_hotBox"><p class="p1">8</p><p class="p2">龙珠超</p><p class="p3"><i></i></p></div></li>
                <li class="upper"><div class="search_hotBox"><p class="p1">9</p><p class="p2">春天里</p><p class="p3"><i></i></p></div></li>
                <li class="upper"><div class="search_hotBox"><p class="p1">10</p><p class="p2">三生三世十里桃花</p><p class="p3"><i></i></p></div></li>
            </ul>
        </div>
    </div>
</div>

{% include "./layout/footer_nobar.html" %}
