{% include "./layout/header.html" %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<div id="main" class="main">
  <div class="wraper">
      {% include "./templates/temp_searchBar.html" %}
      {% include "./templates/temp_banner.html" %}
      {% include "./templates/temp_list.html" %}
  </div>
</div>
<script type="text/javascript" src="../static/common/js/slidebanner/slidebanner.min.js"></script>
<script type="text/javascript" src="../static/js/index.min.js"></script>
{% include "./layout/footer.html" %}
