{% include "./layout/header.html" %}
<link rel="stylesheet" type="text/css" href="../static/css/sale.css">
<div id="main" class="main">
  <div class="wraper">
    {% include "./templates/temp_searchTopBar.html" %}
    {% include "./templates/temp_screenTerm.html" %}
        <ul class="panelUl saleUl twoColumn">
          <li>
            <div class="panelBox">
              <p class="panelImg"><img src="../static/images/sale/t1.jpg" /></p>
              <p class="panelTit">折叠藏獒铲子德国锰钢军工大码车载工兵铲</p>
              <div class="panelPrice"><p class="p1"><i></i></p><p class="p2">¥</p><p class="p3">20149.9</p><p class="p4">包邮</p></div>
            </div>
          </li>
          <li>
            <div class="panelBox">
              <p class="panelImg"><img src="../static/images/sale/t2.jpg" /></p>
              <p class="panelTit">折叠藏獒铲子德国锰钢军工大码车载工兵铲</p>
              <div class="panelPrice"><p class="p1"><i></i></p><p class="p2">¥</p><p class="p3">201.9</p><p class="p4">包邮</p></div>
            </div>
          </li>
          <li>
            <div class="panelBox">
              <p class="panelImg"><img src="../static/images/sale/t1.jpg" /></p>
              <p class="panelTit">折叠藏獒铲子德国锰钢军工大码车载工兵铲</p>
              <div class="panelPrice"><p class="p1"><i></i></p><p class="p2">¥</p><p class="p3">20149.9</p><p class="p4">包邮</p></div>
            </div>
          </li>
        </ul>
  </div>
</div>
{% include "./layout/footer.html" %}
