{% include "./layout/header.html" %}
<div id="main" class="main">
  <div class="wraper">
        <ul class="panelUl autoColumn">
          <li>
            <div class="panelBox">
              <p class="panelImg"><img src="../static/images/cache/test.jpg" /></p>
              <p class="panelTit">你画我猜</p>
            </div>
          </li>
          <li>
            <div class="panelBox">
              <p class="panelImg"><img src="../static/images/cache/test.jpg" /></p>
              <p class="panelTit">美女消消乐</p>
            </div>
          </li>
          <li>
            <div class="panelBox">
              <p class="panelImg"><img src="../static/images/cache/test.jpg" /></p>
              <p class="panelTit">城市猎人</p>
            </div>
          </li>
        </ul>
  </div>
</div>
{% include "./layout/footer.html" %}
